{
  "plugins": [["babel-plugin-dotenv", {
    "replacedModuleName": "babel-dotenv"
  }]],
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
